
<div class="container">
         <!-- Begin MDB Test -->



        <h2><!--<img src="custimg/logo.svg" style="max-width:30px;">&nbsp;-->Dashboard</h2><br>
            <div class="row">
                <div class="col-lg-8">
                <span class="">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-2" role="tablist" style="background-color: #0275d8;">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"><span class="show-mobile"><i class="fa fa-check fa-2x show-mobile"></i></span><span class="hide-mobile">&nbsp;&nbsp;Tasks</span></a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#panel2" role="tab"><span class="show-mobile"><i class="fa fa-calendar fa-2x show-mobile"></i></span><span class="hide-mobile">&nbsp;&nbsp;Appointments</span></a>
                            </li>
                        </ul>

                        <!-- Tab panels -->
                        <div class="tab-content card">

                            <!--Panel 1-->
                            <div class="tab-pane fade in active" id="panel1" role="tabpanel">
                                <br>

                                <h4 style="text-align: center;">Next 5 Tasks:</h4><br>

                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-danger">
                                            <a href="#" style="color: #db4437;"><i class="fa fa-phone"></i>&nbsp;&nbsp;Jake Johnson<span class="hide-mobile"> - First attempt to schedule Free Consultation</span>&nbsp;&nbsp;<span class="tag bg-danger label-pill float-xs-right">-2d</span></a></a>
                                        
                                        
                                    </li>
                                    <li class="list-group-item list-group-item-danger"><a href="#" style="color: #db4437;"><i class="fa fa-phone"></i>&nbsp;&nbsp;Barbara Smith<span class="hide-mobile"> - Final attempt to schedule Free Consultation</span>&nbsp;&nbsp;<span class="tag bg-danger label-pill float-xs-right">-1d</span></a></li>
                                    <li class="list-group-item list-group-item-info"><a href="#"><i class="fa fa-phone"></i>&nbsp;&nbsp;Barbara Smith<span class="hide-mobile"> - Final attempt to schedule Free Consultation</span>&nbsp;&nbsp;<span class="tag bg-primary label-pill float-xs-right">Today</span></a></li>
                                    <li class="list-group-item list-group-item-info"><a href="#"><i class="fa fa-phone"></i>&nbsp;&nbsp;Dave Rawlings<span class="hide-mobile"> - Redeemed Free Personal Training Session</span>&nbsp;&nbsp;<span class="tag bg-primary label-pill float-xs-right">Today</span></a></li>
                                    <li class="list-group-item list-group-item-success"><a href="#" style="color: green;"><i class="fa fa-phone"></i>&nbsp;&nbsp;Rick Haus<span class="hide-mobile"> - Second attempt to schedule Free Consultation</span>&nbsp;&nbsp;<span class="tag bg-success label-pill float-xs-right">1d</span></a></li>
                                </ul>
                                <p style="text-align: center;"><br>
                                    <a class="btn btn-success" style="width: 90%;"><i class="fa fa-check left"></i>&nbsp;&nbsp;View All Tasks</a>
                                </p>
                            </div>
                            <!--/.Panel 1-->

                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel2" role="tabpanel">
                                <br>

                                <h4 style="text-align: center;">Next 5 Appointments:</h4><br>

                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info"><a href="#">Jake Johnson<span class="hide-mobile"> - Free Consultation</span>&nbsp;&nbsp;<span class="tag bg-primary label-pill float-xs-right">Today - 12pm</span></a></li>
                                    <li class="list-group-item list-group-item-info"><a href="#">Dave Rawlings<span class="hide-mobile"> - Personal Training Session</span>&nbsp;&nbsp;<span class="tag bg-primary label-pill float-xs-right">Today - 2pm</span></a></li>
                                    <li class="list-group-item list-group-item-success"><a href="#" style="color: green;">Matt Blunt<span class="hide-mobile"> - Personal Training Session</span>&nbsp;&nbsp;<span class="tag bg-success label-pill float-xs-right">Tomorrow - 5am</span></a></li>
                                    <li class="list-group-item list-group-item-success"><a href="#" style="color: green;">Sonya Seccurro<span class="hide-mobile"> - Free Consultation</span>&nbsp;&nbsp;<span class="tag bg-success label-pill float-xs-right">Thursday - 7am</span></a></li>
                                    <li class="list-group-item list-group-item-success"><a href="#" style="color: green;">Noreen Haus<span class="hide-mobile"> - Goal Setting Session</span>&nbsp;&nbsp;<span class="tag bg-success label-pill float-xs-right">Jan 10 - 10am</span></a></li>
                                </ul>

                                <p style="text-align: center;"><br>
                                    <a class="btn btn-success" style="width: 90%;"><i class="fa fa-calendar left"></i>&nbsp;&nbsp;View All Appointments</a>
                                </p>



                            </div>
                            <!--/.Panel 2-->

                        </span>
                    </div>
                    <p>&nbsp;</p>

                </div>
                <div class="col-lg-4"> <!--BEGIN SIDEBAR-->
                    <!-- BEGIN RECENT ACTIVITY -->

                    <div class="list-group">
                        <a class="list-group-item active" style="color: #fff;">
                            Activity At-A-Glance
                        </a>
                        <a href="#" class="list-group-item">New Leads (Past 7 Days)<span class="tag bg-success label-pill float-xs-right">14</span></a>
                        <a href="#" class="list-group-item">Total Active Leads<span class="tag bg-primary label-pill float-xs-right">109</span></a>
                        <a href="#" class="list-group-item">Current Members<span class="tag bg-warning label-pill float-xs-right">97</span></a>
                        <a href="#" class="list-group-item">Pending Cancellations<span class="tag bg-danger label-pill float-xs-right">3</span></a>
                    </div>
                    <!-- END RECENT ACTIVITY --><p>&nbsp;</p>
                    <!-- BEGIN RECENT ACTIVITY -->

                    <div class="list-group">
                        <a class="list-group-item active" style="color: #fff;">
                            Time Saved (Wahoo!)
                        </a>
                        <span class="list-group-item">
                            <p>In the past week, Box Builder has sent <span style="color: green">73 emails</span> and <span style="color: green">12 text messages</span> on behalf of CrossFit Gettysburg.</p>
                            <p>We've also coordinated <span style="color: green">16 manual outreach tasks</span> as a result of our automated follow-up logic.</p>
                        </span>
                    </div>
                    <!-- END RECENT ACTIVITY -->
                </div>
            </div>
        </div>


        <div class="col-md-12">
        
        <ul class="stepper stepper-vertical">
            <li class="completed">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitEmail1" aria-expanded="false" aria-controls="firstVisitEmail1">
                    <span class="circle"><i class="fa fa-envelope" style="color: #89E894;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 1</span>&nbsp;&nbsp;Next Stop - A Healthier You!</span>
                </a>
                <div class="collapse" id="firstVisitEmail1">
                    <div class="step-content grey lighten-3">
                        <p><%= @quote.author %> says, "<%= @quote.saying %>"</p>
                    </div>
                </div>
            </li>
            <li class="active">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitEmail2" aria-expanded="false" aria-controls="firstVisitEmail2">
                    <span class="circle"><i class="fa fa-envelope" style="color: #87CEEB;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 2</span>&nbsp;&nbsp;Personal Introduction</span>
                </a>
                <div class="collapse" id="firstVisitEmail2">
                    <div class="step-content grey lighten-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere iusto quaerat vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore nostrum ut, nobis porro sapiente.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur totam, atque odit fugiat.</p>
                        <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe reiciendis, vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam expedita ab fugiat.</p>
                    </div>
                </div>
            </li>
            <li class="completed">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitEmail3" aria-expanded="false" aria-controls="firstVisitEmail3">
                    <span class="circle"><i class="fa fa-envelope" style="color: #89E894;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 5</span>&nbsp;&nbsp;Don't Just Listen To Us!</span>
                </a>
                <div class="collapse" id="firstVisitEmail3">
                    <div class="step-content grey lighten-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere iusto quaerat vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore nostrum ut, nobis porro sapiente.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur totam, atque odit fugiat.</p>
                        <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe reiciendis, vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam expedita ab fugiat.</p>
                    </div>
                </div>
            </li>
            <li class="completed">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitTask1" aria-expanded="false" aria-controls="firstVisitTask1">
                    <span class="circle"><i class="fa fa-check" style="color: #89E894;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 5</span>&nbsp;&nbsp;First Phone Call</span>
                </a>
                <div class="collapse" id="firstVisitTask1">
                    <div class="step-content grey lighten-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere iusto quaerat vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore nostrum ut, nobis porro sapiente.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur totam, atque odit fugiat.</p>
                        <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe reiciendis, vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam expedita ab fugiat.</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
  <!-- End MDB Test -->
  </div>

    </div>  
    <br class="clear" /><br class="clear" />