  <!-- Begin MDB Test -->
  <div class="col-md-12">
        
        <ul class="stepper stepper-vertical">
            <li class="completed">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitEmail1" aria-expanded="false" aria-controls="firstVisitEmail1">
                    <span class="circle"><i class="fa fa-envelope" style="color: #89E894;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 1</span>&nbsp;&nbsp;Next Stop - A Healthier You!</span>
                </a>
                <div class="collapse" id="firstVisitEmail1">
                    <div class="step-content grey lighten-3">
                        <p><%= @quote.author %> says <%= @quote.saying %></p>
                    </div>
                </div>
            </li>
            <li class="active">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitEmail2" aria-expanded="false" aria-controls="firstVisitEmail2">
                    <span class="circle"><i class="fa fa-envelope" style="color: #87CEEB;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 2</span>&nbsp;&nbsp;Personal Introduction</span>
                </a>
                <div class="collapse" id="firstVisitEmail2">
                    <div class="step-content grey lighten-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere iusto quaerat vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore nostrum ut, nobis porro sapiente.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur totam, atque odit fugiat.</p>
                        <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe reiciendis, vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam expedita ab fugiat.</p>
                    </div>
                </div>
            </li>
            <li class="completed">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitEmail3" aria-expanded="false" aria-controls="firstVisitEmail3">
                    <span class="circle"><i class="fa fa-envelope" style="color: #89E894;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 5</span>&nbsp;&nbsp;Don't Just Listen To Us!</span>
                </a>
                <div class="collapse" id="firstVisitEmail3">
                    <div class="step-content grey lighten-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere iusto quaerat vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore nostrum ut, nobis porro sapiente.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur totam, atque odit fugiat.</p>
                        <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe reiciendis, vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam expedita ab fugiat.</p>
                    </div>
                </div>
            </li>
            <li class="completed">
                <a href="#!" type="button" data-toggle="collapse" data-target="#firstVisitTask1" aria-expanded="false" aria-controls="firstVisitTask1">
                    <span class="circle"><i class="fa fa-check" style="color: #89E894;"></i></span>
                    <span class="label"><span class="tag bg-primary label-pill">Day 5</span>&nbsp;&nbsp;First Phone Call</span>
                </a>
                <div class="collapse" id="firstVisitTask1">
                    <div class="step-content grey lighten-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate facere iusto quaerat vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique. Inventore nostrum ut, nobis porro sapiente.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam nemo repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci pariatur totam, atque odit fugiat.</p>
                        <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore saepe reiciendis, vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam expedita ab fugiat.</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
  <!-- End MDB Test -->