<div class="col-xs-10 col-xs-offset-1">

  <div class="col-xs-12">
    <h1>About Splurty</h1>
    <p>
      Splurty was built by Matt Verlaque - he's an aspiring web developer who wants to make awesome things to help gyms be much more awesomer too.
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'matt.jpg', class: 'img-fluid about-pic' %>
  </div>

  <div class="col-xs-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Matt Verlaque</h2>
    <br />
    <p>
      This is a picture of Matt hiking the Inca Trail to Maccu Picchu. It was a bad ass time. I don't really have much else to say about that.
    </p>
  </div>
  <br class="clear" />
  <br class="clear" />
  <br class="clear" />
</div>