@import "bootstrap";

.clear {
  clear:both;
}

.body {
  font-family: 'quicksandregular', sans-serif;
}

/* Logo Circle CSS */
.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f7901e;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

/* Navbar Slogan */
.slogan {
  font-family: 'quicksanditalic', sans-serif;
  font-style: italic;
  padding-top: 26px;
}

/* Navbar Links */
.links {
  padding-top:26px;
  font-family: 'quicksandregular', sans-serif;
  a {
    color: black;
    font-size: 25px;
    border-bottom: 1px solid #f7901e;
  }
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'quicksandregular', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}

h2 {
  font-family: 'quicksandregular', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}