@import "bootstrap";

.clear {
  clear:both;
}

.body {
  font-family: 'quicksandregular', sans-serif;
}

/* Logo Circle CSS */
.circlelogo {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f7901e;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.logo:hover {
  text-decoration: none;
}

/* Navbar Slogan */
.slogan {
  font-family: 'quicksanditalic', sans-serif;
  font-style: italic;
  padding-top: 26px;
}

/* Navbar Links */
.links {
  padding-top:26px;
  font-family: 'quicksandregular', sans-serif;
  a {
    color: black;
    font-size: 25px;
    margin-right: 10px;
  }
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'quicksandregular', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}

h2 {
  font-family: 'quicksandregular', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
}

/* Sticky Footer CSS */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  min-height: 60px;
  background-color: #f7901e;
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    color: white;
    font-family: 'quicksanditalic', sans-serif;
    font-style: italic;
    font-size: 20px;
  }
}

.footer-blurb {
  font-family: 'quicksanditalic', sans-serif;
  font-style: italic;
  font-size: 14px;
  padding-top: 5px;
}

.splurty-intro {
  color: #ccc;
}

::selection {
  background-color: #f7901e;
}

.about-pic {
  margin-bottom: 6px;
}

.circle {
  bg-color: #000;
}